<h1>Listing kuaibovideos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kuaibovideos.each do |kuaibovideo| %>
  <tr>
    <td><%= kuaibovideo.name %></td>
    <td><%= kuaibovideo.link %></td>
    <td><%= link_to 'Show', kuaibovideo %></td>
    <td><%= link_to 'Edit', edit_kuaibovideo_path(kuaibovideo) %></td>
    <td><%= link_to 'Destroy', kuaibovideo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kuaibovideo', new_kuaibovideo_path %>
