<% title "#{@movie.name},#{@movie.baiduvideos[params[:n].to_i].name},百度影音,高清在线观看 - 精彩电影网" %>
<% keywords "#{@movie.name} - #{@movie.baiduvideos[params[:n].to_i].name} ，百度影音#{@movie.name} - #{@movie.baiduvideos[params[:n].to_i].name} 在线观看" %>
<% description "《#{@movie.name}》-#{@movie.baiduvideos[params[:n].to_i].name} ,#{@movie.name}海报,《#{@movie.name}》数据,百度影音高清播放" %>

<div class="breadcrumbs">
  您现在的位置：<a href="/">首页</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;  
  <% 
   str = ""
   @movie.categories.each do |category| %>
    <% str += <<-EOF
        <a class="mod_path_cat_title _hotkey" href="#{category_path(category)}">
          #{category.name} - 
        </a> 
    EOF
    %>   
  <% end %>  
  <% str.slice!( (str).rindex('-')) %>
  <%=raw str %>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<%= link_to @movie.name, @movie %>&nbsp;&nbsp;&gt;&nbsp;&nbsp;正在播放
</div>

<div class="out_play clearfix">
  <div class="play_wrap clearfix">
    
    <div class="play_c">
      <% 
        if params[:n]
          n = params[:n].to_i
          raise ActiveRecord::RecordNotFound if (n + 1) > @movie.baiduvideos.count
        else
          n = 0  
        end  
        
        nextwebpage = "#{movie_videos_path}/#{n+1}" if @movie.baiduvideos.count - n > 1
        lastwebpage = "#{movie_videos_path}/#{n-1}" if n > 0
      %>
      <script language="javascript">
      var BdPlayer = new Array();
      BdPlayer['time'] = 8;
      BdPlayer['buffer'] = 'http://player.baidu.com/lib/show.html?buffer';
      BdPlayer['pause'] = 'http://player.baidu.com/lib/show.html?pause';
      BdPlayer['end'] = 'http://player.baidu.com/lib/show.html?end';             
      BdPlayer['width'] = 650;
      BdPlayer['height'] = 520;
      BdPlayer['showclient'] = 1;
      BdPlayer['url'] = '<%=raw @movie.baiduvideos[n].try(:link) %>';
      BdPlayer['nextcacheurl'] = '<%=raw @movie.baiduvideos[n+1].try(:link) %>';
      BdPlayer['lastwebpage'] = '<%= raw lastwebpage %>';
      BdPlayer['nextwebpage'] = '<%= raw nextwebpage%>';</script>
      <script language="javascript" src="http://php.player.baidu.com/bdplayer/player.js" charset="utf-8"></script>
    </div>

    <div class="meta_r">
      <script type="text/javascript"> 
        alimama_pid="mm_12683985_3495095_11492808"; 
        alimama_width=300; 
        alimama_height=250; 
      </script> 
      <script src="http://a.alimama.cn/inf.js" type="text/javascript"> 
      </script>
    </div>

  </div>
</div>

<div class="playlist clearfix">
  <div class="bdy">
    <div class="bdy_notice">百度影音需要安装播放器才能观看 <a class="bdydl" rel="nofollow" href="http://dl.p2sp.baidu.com/BaiduPlayer/un2/BaiduPlayerNetSetup_2.exe">点击下载最新版本。</a></div>
    <img src="<%= asset_path 'baiduhd.gif' %>" width="76" height="20" />
  </div>
  <% @movie.baiduvideos.each_with_index do |baiduvideo, index| %>
    <a class="vli" <% if(index == n) then %>
      style="color:#f60;"
      <% else %>
      href="
      <%= "#{movie_videos_path}/#{index}"%>
      "
      <% end %>
      >
      <%= baiduvideo.name %></a>
  <% end %>
</div>