<%= form.fields_for :baiduvideo do |f2| %>
  <div class="field">
    <%= f2.label "name" %><br />
    <%= f2.text_field :name %>
  </div>
  <div class="field">
    <%= f2.label "link" %><br />
    <%= f2.text_field :link %>
  </div>    
<% end %>