<h1>Listing baiduvideos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @baiduvideos.each do |baiduvideo| %>
  <tr>
    <td><%= baiduvideo.name %></td>
    <td><%= baiduvideo.link %></td>
    <td><%= link_to 'Show', baiduvideo %></td>
    <td><%= link_to 'Edit', edit_baiduvideo_path(baiduvideo) %></td>
    <td><%= link_to 'Destroy', baiduvideo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Baiduvideo', new_baiduvideo_path %>
